@import (reference) 'mixin';

.carousel-fade {
   .carousel-inner {
      .item {
      	transition-property: opacity;
			height: 700px;
      }
      .item,
      .active.left,
      .active.right {
         opacity: 0;
      }
      .active,
      .next.left,
      .prev.right {
         opacity: 1;
      }
      .next,
      .prev,
      .active.left,
      .active.right {
         left: 0;
         transform: translate3d(0, 0, 0);
      }
   }
   .carousel-control {display: none;}
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img, 
.img-responsive, .thumbnail a>img, 
.thumbnail>img{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}	
.eventcard{
	background: @green-tr;
	color: @white;
	margin-top: 120px;
	padding: 0;
	text-transform: uppercase;
	&-header{
		background: fadein(@green-tr, 20%);
		padding: 23px 0 23px 30px;
		font-size: 12px;
		position: relative;
		.place,
		.date{
			div{
				padding-left: 30px;
			}
		}
		div{&:first-of-type{margin-bottom: 15px;}}
		i{
			font-size: 18px;
			color: @white;
			display: block;
			float: left;
		}
	}
	&-info{
		margin: 80px 0;
		text-align: center;
		&__name{
			display: block;
			width: 160px;
			margin: 0 auto 30px;
			text-align: center;
			font: normal 18px/22px 'pragmatica';
		}
		&__author{
			font: 12px 'Roboto', sans-serif;
			text-transform: lowercase;
		}
	}
	&-footer{
		padding: 30px 50px;
		background: fadein(@green-tr, 20%);
		&__link{
			border: 2px solid @white;
			background: @green;
		   width: 100%;
		   display: block;
		   height: 50px;
		   text-align: center;
		   line-height: 50px;
		   color: @white;
		   font-weight: bold;
		   transition: all .2s ease-in;
		   &:hover{
		   	border: 2px solid @white;
		   	background: @white;
		   	color: @green;
		   	text-decoration: none;
				transition: all .2s ease-in;
		   }
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.carousel-fade {
	   .carousel-inner {
	      .item {
	      	transition-property: opacity;
				height: auto;
				padding: 0 0 30px;
	      }
     	}
   }
	.carousel-inner>.item>a>img,
	.carousel-inner>.item>img, 
	.img-responsive, .thumbnail a>img, 
	.thumbnail>img{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}	
	.carousel-indicators{
		bottom: 0;
		margin-bottom: 5px;
	}
	.eventcard{
		margin-top: 70px;
		max-width: 320px;
		float: right;
		&-header{
			padding: 15px 0 5px 30px;
		}
		&-info{
			margin: 50px 0;
		}
	}
}
