@import (reference) 'mixin';

.event{
	margin-top: 30px;
	position: relative;
	&:hover img{
		transform: scale(1.1);
		transition: transform .2s ease-in;
	}
	&-picture{
		overflow: hidden; 
		cursor: pointer;
		img{
			width: 100%;
			height: auto;
			transform: scale(1);
			transition: transform .2s ease-in;
		} 
	} 
	&-header{
		background: @green-tr;
		position: absolute;
		top: 0;
		left: 15px;
		right: 15px;
		padding: 15px 0 20px 0;
		color: @white;
		z-index: 1;
		div{
			text-transform: uppercase;
			font-size: 14px;
			i{
				font-size: 18px;
				display: block;
				float: left;
				margin-right: 5px;
			} 
		}
	}
	&-info {
	   margin: 80px 0;
	   text-align: center;
	   &__name{
			display: block;
		   width: 160px;
		   margin: 0 auto 30px;
		   text-align: center;
		   font: normal 18px/22px 'pragmatica';
	   }
	   &__author {
		   font: 12px 'Roboto', sans-serif;
		   text-transform: lowercase;
		}
	}
	&-footer{
		background: @green-tr;
		position: absolute;
		bottom: 0;
		left: 15px;
		right: 15px;
		padding: 17px 0 15px 0;
		color: @white;
		p{
			margin: 0;
			text-overflow: ellipsis;
		   overflow: hidden;
		   white-space: nowrap;
		}
		&__name{
			font-size: 18px;
			text-transform: uppercase;
		}
		&_author{
			font-size: 12px;
			font-family: 'Roboto';
		}
	}
}
.event-bg{
	background: @white;
	text-align: center;
	margin: 0;
	position: relative;
	&:before{
		._before;
		top: -55px;
		left: 0;
		width: 100%;
		height: 55px;
		background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 6%, rgba(255,255,255,0.15) 13%, rgba(255,255,255,0.39) 26%, rgba(255,255,255,0.67) 40%, rgba(255,255,255,0.88) 53%, rgba(255,255,255,0.98) 61%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 99%, rgba(255,255,255,0.9) 100%);
		background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 6%, rgba(255,255,255,0.15) 13%, rgba(255,255,255,0.39) 26%, rgba(255,255,255,0.67) 40%, rgba(255,255,255,0.88) 53%, rgba(255,255,255,0.98) 61%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 99%, rgba(255,255,255,0.9) 100%);
		background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.06) 6%, rgba(255,255,255,0.15) 13%, rgba(255,255,255,0.39) 26%, rgba(255,255,255,0.67) 40%, rgba(255,255,255,0.88) 53%, rgba(255,255,255,0.98) 61%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 99%, rgba(255,255,255,0.9) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e6ffffff',GradientType=0 );
	}
}

.more-events{
	border: 2px solid @green;
	margin: 10px 0;
	padding: 20px 80px;
	text-transform: uppercase;
	font-size: 14px;
	display: inline-block;
	background: @white;
	color: @green;
	text-decoration: none;
	transition: all .2s ease-out;
	&:hover{
		color: @white;
		background: @green;
		text-decoration: none;
		transition: all .2s ease-in;
	}
}
@media screen and (min-width: 320px) and (max-width: 374px){
	.event{
		width: 100%;
		&-header{
			div{
				width: 100%;
				float: none;
				margin-bottom: 10px;
				&:last-of-type{margin: 0;}
			}
		}
	}
}
@media screen and (min-width: 375px) and (max-width: 639px){
	.event{
		max-width: 375px;
		float: none;
		margin: 20px auto 0 auto;  
		&-header{
			div{
				width: 100%;
				float: none;
				margin-bottom: 10px;
				&:last-of-type{margin: 0;}
			}
		}
	}
}
@media screen and (min-width: 640px) and (max-width: 767px){
	.event{
		width: 50%;
		&-header{
			div{
				width: 100%;
				float: none;
				margin-bottom: 10px;
				&:last-of-type{margin: 0;}
			}
		}
	}
}