@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('@{font-path}/icomoon.eot?q6gl13');
  src:  url('@{font-path}/icomoon.eot?q6gl13#iefix') format('embedded-opentype'),
    url('@{font-path}/icomoon.ttf?q6gl13') format('truetype'),
    url('@{font-path}/icomoon.woff?q6gl13') format('woff'),
    url('@{font-path}/icomoon.svg?q6gl13#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'pragmatica';
    src: url('@{font-path}/pragmatica.eot');
    src: url('@{font-path}/pragmatica.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}/pragmatica.woff') format('woff'),
         url('@{font-path}/pragmatica.ttf') format('truetype'),
         url('@{font-path}/pragmatica.svg#pragmaticacregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: @white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar {
  &:before {
    content: @icon-calendar;
  }
}
.icon-facebook {
  &:before {
    content: @icon-facebook;
  }
}
.icon-fb-logo {
  &:before {
    content: @icon-fb-logo;
  }
}
.icon-google {
  &:before {
    content: @icon-google;
  }
}
.icon-place-localizer {
  &:before {
    content: @icon-place-localizer;
  }
}
.icon-plus {
  &:before {
    content: @icon-plus;
  }
}
.icon-twitter {
  &:before {
    content: @icon-twitter;
  }
}
.icon-tw-logo {
  &:before {
    content: @icon-tw-logo;
  }
}
.icon-user {
  &:before {
    content: @icon-user;
  }
}
.icon-vimeo {
  &:before {
    content: @icon-vimeo;
  }
}

