@import (reference) 'mixin';

.footer{
	background: fade(@green, 70%);
	padding: 40px 0 20px;
	a{
		display: block;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		margin-bottom: 10px;
		color: @white;
	}
	&-top{
		text-align: left;
		div{
			&:last-of-type{
				text-align: right;
			}
		}
	}
	&-bottom{
		margin-top: 25px;
		&__logo{
			color: @white;
			text-transform: uppercase;
			text-align: left;
		}
		&__social{
			text-align: right;
			a{
				display: inline-block;
				font-size: 30px;
				&:nth-child(2){margin: 0 20px;}
			}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.footer{
		a{margin: 0;}
		&-top{
			text-align: center;
			div{
				margin-bottom: 15px;
				&:last-of-type{
					text-align: center;
				}
			}
		}
		&-bottom{
			a{	text-align: center;}
			&__social{
				margin-top: 10px;
				text-align: center;
			}
		}
	}
}