@import (reference) 'mixin';

.header{
	background: @green-tr;
	text-decoration: none;
	height: 40px;
	line-height: 40px;
	position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9;
   a:hover{
   	text-decoration: none;
   	cursor: pointer;
   }
	&-logo{
		a{
			display: block;
			color: @white;
			text-transform: uppercase;
			font-size: 18px;
		}
	}
	&-crumbs{
		margin: 0;
		li{
			display: inline-block;
			text-transform: uppercase;
			color: @white;
			margin-right: 15px;
			position: relative; 
			a{
				color: inherit;
				font: 12px 'Roboto', sans-serif;
			}
		}
	}
	&-language{
		text-transform: uppercase;
		&__item{
			color: @grey;
			font-size: 12px;
			&:hover{color: @grey;}
			&-active{
				color: @white;
				&:hover{color: @white;}
			}
		}
	}
	&-users{
		padding-right: 0;
		a{
			display: block;
			float: right;
			margin: 8px 0 8px 10px;
			i{font-size: 26px;}
		}
	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.header{
		&-users{
			padding: 0;
			a{margin: 6px 3px;}
		}
	}
}
