@import (reference) 'mixin';

*{
	padding: 0;
	margin: 0;
}
html{overflow-x: hidden;}
body{
	font-family: 'pragmatica';
	position: relative;
	background: @white;
	overflow: hidden;
}
.main{
	background: @white;
}
input[type="text"],
input[type="email"],
input[type="password"]{ 
	width: 100%;
	border: 0;
	margin-bottom: 15px;
	border-bottom: 1px solid @green;
	padding-left: 15px;
	color: @grey;
	font: 14px 'Roboto';
	&:focus{outline: none;}
}