@import 'variables';

._before{
	content: '';
	display: block;
	position: absolute;
}
._col-center{
	float: none;
	margin: 0 auto;
}
._button{
	background: @white;
	color: @green;
	width: 100%;
	border: 0;
	font-size: 14px;
	line-height: 50px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	height: 48px;
	border: 2px solid @green;
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	&:hover{
		text-decoration: none;
		color: @white;
		background: @green;
		text-transform: uppercase;
		border: 2px solid @green;
	}
}