@import (reference) 'mixin';

body.registration-page{
	height: 100%;
	overflow: hidden; 
}
.register{
	>div{	padding: 0;}
	&-bg{
		background: url("../images/register-bg.jpg") no-repeat center;
		-webkit-background-size: cover;
		background-size: cover;
		height: 100vh;
	}
	&-form{
		h2{
			text-align: center;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			color: @green;
			margin: 120px 0 40px;
		}
	}
}
.wrap-form {
	width: 370px;
	background: @white;
}
.tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: 1px solid @green;
	li{
		background: fade(@green, 50%);
		color: @green;
		text-transform: uppercase;
		display: block;
		float: left;
		width: 50%;
		height: 36px;
		text-align: center;
		padding: 10px 15px;
		cursor: pointer;
	}
   li.current{
		background: @green;
		color: @white;
		cursor: default;
		height: 39px;
		margin-top: -3px;
	}
}
.tab-content{
	display: none;
	padding: 30px 15px 15px;
	&-area{
		width: 80%;
	   margin: 0 auto;
		display: inherit;
	}
	&__registr{
		.button{	margin-top: 25px;	}
	}
}
.tab-content.current{
	display: inherit;
	background: fade(@white, 20%);
}
.troubles{
	text-align: center;
	margin: 25px 0;
	text-transform: uppercase;
	font-size: 8px;
	&-link{
		color: fade(@green, 70%);
		&:hover{
			color: @green;
			text-decoration: underline;
		}
	}
}
.delimeter{
	display: block;
	position: relative;
	text-align: center;
	margin-top: 60px;
	&:before{
		._before; 
		width: 100%;
		height: 1px;
		top: 10px;
		background: lighten(@green, 20%);
	}
	&-text{
		text-transform: uppercase;
		font-size: 12px;
		font-weight: bold;
		padding: 6px;
		background: @white;
		position: relative;
		z-index: 1;
		color: lighten(@green, 20%);
	}
}
.social-icon{
	padding-top: 25px;
	text-align: center;
}
.icon-list{
	list-style: none;
	&-item{
		width: 29%;
		margin: 0 1%;
		display: inline-block;
		a{
			display: inline-block;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			text-align: center;
			text-decoration: none;
			i{
				color: @white;
				line-height: 50px;
				font-size: 30px;
			}
		}
		.icon-fb{background: @facebook-bg;}
		.icon-tw{background: @twitter-bg;}
		.icon-gp{background: @google-bg;}
	}
	i{display: block;}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.tabs-forms {
		background: fade(@white, 80%);
    	height: 100vh;
	}
	.wrap-form{
		background: none;
		width: 320px;
		._col-center;
	}
	.register-form {
		width: 320px;
    	margin: 0 auto;
		h2{margin-top: 100px;}
	}
	.register-bg{position: fixed;}
	.wrap-form{width: 100%;}
	.tab-content.current{
		background: none;
		input[type="text"],
		input[type="email"],
		input[type="password"]{background: none;}
	}
	.delimeter{margin-top: 40px;}
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation : landscape){
	body.registration-page{
		height: 100%;
		overflow: scroll; 
	}
	.tabs-forms{height: 100%;}
}