@import (reference) 'mixin';

.searchblock{
	margin-top: 30px;
	text-align: center;
	input{
		width: 100%;
		border: 0;
		text-align: center;
		text-transform: uppercase;
		&:focus{
			transition: all .2s linear;
			outline: none;
		}
	}
	input::-webkit-input-placeholder {color: @green;}
	input::-moz-placeholder {color: @green;}
	input:-ms-input-placeholder {color: @green;}
	input:-moz-placeholder {color: @green;}
	input:focus::-webkit-input-placeholder {
		opacity: 0;
		transition: all .2s linear;
	}
	input:focus::-moz-placeholder {
		opacity: 0;
		transition: all .2s linear;
	}
	input:focus:-ms-input-placeholder {
		opacity: 0;
		transition: all .2s linear;
	}
	input:focus:-moz-placeholder {
		opacity: 0;
		transition: all .2s linear;
	}
}

.breadcrumbs{
	list-style: none;
	li{
		display: inline-block;
		margin-right: 20px;
		a{
			color: @green;
			font: 14px 'Roboto';
		}
		span{color: @green;}
	}
	&-title{
		color: @green;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		margin-right: 15px;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.breadcrumbs {
		li{
			margin-right: 5px;
		}
	}
}
