@white: #fff;
@grey: #bab9b9;
@green: #00cc66;
@green-tr: rgba(0, 204, 102, .5);
@facebook-bg: #3b5998;
@twitter-bg: #55acee;
@google-bg: #dc4e41;

@font-path: "../fonts";

@icon-calendar: "\e900";
@icon-facebook: "\e901";
@icon-fb-logo: "\e902";
@icon-google: "\e903";
@icon-place-localizer: "\e904";
@icon-plus: "\e905";
@icon-twitter: "\e906";
@icon-tw-logo: "\e907";
@icon-user: "\e908";
@icon-vimeo: "\e909";
