<footer class="footer">
	<div class="container">
		<div class="row footer-top">
			<div class="col-xs-6 col-sm-2">
				<a href="">my account</a>
				<a href="#">my events</a>
			</div>
			<div class="col-xs-6 col-sm-2">
				<a href="">find event</a>
				<a href="">add event</a>
			</div>
			<div class="col-xs-6 col-sm-3">
				<a href="">terms and conditions</a>
				<a href="">privacy and policy</a>
			</div>
			<div class="col-xs-6 col-sm-3 col-sm-offset-2">
				<a href="">contact us</a>
				<a href="">0800 500 305</a>
			</div>
		</div>
		<div class="row footer-bottom">
			<div class="col-xs-12 col-sm-6">
				<a class="footer-bottom__logo">eventite.me © 2016</a>
			</div>
			<div class="footer-bottom__social col-xs-12 col-sm-6">
				<a href="#"><i class="icon-facebook"></i></a>
				<a href="#"><i class="icon-twitter"></i></a>
				<a href="#"><i class="icon-vimeo"></i></a>
			</div>
		</div>
	</div>
</footer>